.backGroundNavbar {
  background: #191718;
  color: white;
  width: 150px;
  height: 935px;
}
.displayMobile {
  display: none;
}
.backGroundNavbar div {
  border-bottom: 1px solid #5c5c5c;
  width: 150px;
  line-height: 44px;
}
.backGroundNavbar div:hover {
  background-color: #5c5c5c;
}
.backGroundNavbar span {
  margin-left: 16px;
}
@media screen and (max-width: 992px) {
  .backGroundNavbar {
    background: #191718;
    color: white;
    width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .displayMobile {
    margin-top: 20px;
    display: block;
  }
  .backGroundNavbar {
    display: none;
  }
  .backGroundNavbarM {
    position: fixed;
    background: #191718;
    color: white;
    width: 150px;
    height: 100vh;
  }
  .backGroundNavbarM div {
    border-bottom: 1px solid #5c5c5c;
    width: 150px;
    line-height: 44px;
  }
  .backGroundNavbarM div:hover {
    background-color: #5c5c5c;
  }
  .backGroundNavbarM span {
    margin-left: 16px;
  }
}
